h1 {
    text-align: center;
}
img{
    height: 200px;
    width: 500px;
}
body{
    background-color: #F6DDCC;
}
.row {
    display: flex;
  }
  
  .column {
    flex: 33.33%;
    padding: 5px;
    float: left;
    width: 33.33%;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }